<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible"
            content="IE=edge" />
      <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="description"
            content="" />
      <meta name="author"
            content="" />
      <title>Quản lý hội viên </title>
      <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
            rel="stylesheet" />
      <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
            rel="stylesheet" />


      <link href="../../css/styles.css"
            rel="stylesheet" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
              crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
      <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3"
               href="/member">HỘI VIÊN</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
                    id="sidebarToggle"
                    href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                  <!-- <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-
                    
                    
                    ="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div> -->
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                  <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           id="navbarDropdown"
                           href="#"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdown">
                              <!--<li><a class="dropdown-item" href="#!">Settings</a></li> -->
                              <li><a class="dropdown-item"    data-bs-toggle="modal"
                                    data-bs-target="#changePassword"
                                       href="#!">Đổi mật khẩu</a></li>
                              <li>
                                    <hr class="dropdown-divider" />
                              </li>
                              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    href="/dangnhap">Đăng xuất</a></li>
                        </ul>
                  </li>
            </ul>
      </nav>
      <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                  <nav class="sb-sidenav accordion sb-sidenav-dark"
                       id="sidenavAccordion">
                        <div class="sb-sidenav-menu">
                              <div class="nav">
                                    <!-- <div class="sb-sidenav-menu-heading">Core</div> -->
                                    <a class="nav-link nav-item active"
                                       href="/member">
                                          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                          QUẢN LÝ HỘI VIÊN
                                    </a>
                                    <a class="nav-link "
                                    href="/user">
                                     <div class="sb-nav-link-icon"><i class="fas fa-user-alt"></i></div>
                                     QUẢN LÝ TÀI KHOẢN
                                 </a>
                                    <a class="nav-link"
                                       href="/report">
                                          <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                          THÔNG KÊ
                                    </a>
                                    <!-- <div class="sb-sidenav-menu-heading">Interface</div> -->
                                    <!-- <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Layouts
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="layout-static.html">Static Navigation</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a> -->
                              </div>
                        </div>
                        <div class="sb-sidenav-footer">
                              <!-- <div class="small">Logged in as:</div>
                        Start Bootstrap -->
                        </div>
                  </nav>
            </div>
            <div id="layoutSidenav_content">
                  <main>
                        <div class="container-fluid px-4">
                              <h3 class="mt-4 text-uppercase">Cập nhật hội viên</h3>
                              <form action="/member/edit" method="POST">
                                    <div class="row py-4">
                                          <div class="col-md">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="name">
                                                            họ và tên
                                                      </label>
                                                      <input type="text"
                                                            name="name"
                                                             class="form-control"
                                                             id="validationDefaultUsername"
                                                             placeholder="Họ và tên"
                                                             aria-describedby="inputGroupPrepend2"
                                                             value="Nguyễn Thị A"
                                                             >
                                                </div>
                                          </div>
                                          <div class="col-md">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="loaihoivien">
                                                            loại hội viên
                                                      </label>
                                                      <select class="js-example-basic-single form-control"
                                                              name="lhv"
                                                              
                                                              >

                                                            <option value="QNCN">QNCN</option>
                                                      </select>
                                                </div>
                                          </div>
                                          <div class="col-md">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="name">
                                                            ngày sinh
                                                      </label>
                                                      <input type="datetime-local"
                                                             name="nSinh"
                                                             value="13-07-1977"
                                                             class="form-control">
                                                </div>
                                          </div>
                                    </div>
                                    <div class="row py-4">
                                          <div class="col-md">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="name">
                                                            giới tính
                                                      </label>
                                                      <select class="js-example-basic-single form-control"
                                                              name="gTinh"
                                                              >

                                                            <option value="0">Nữ</option>
                                                      </select>
                                                      <!-- <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required> -->
                                                </div>
                                          </div>
                                          <div class="col-md">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="loaihoivien">
                                                            Dân tộc
                                                      </label>
                                                      <select class="js-example-basic-single form-control"
                                                              name="dToc"
                                                              >

                                                            <option value="KINH">Kinh</option>
                                                      </select>
                                                </div>
                                          </div>
                                          <div class="col-md">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="name">
                                                            năm nhập ngũ
                                                      </label>
                                                      <input name="nNNgu"
                                                             type="datetime-local"
                                                             value="20-12-1997"
                                                             class="form-control">
                                                </div>
                                          </div>
                                    </div>
                                    <div class="row py-4">
                                          <div class="col-md">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="name">
                                                            đơn vị
                                                      </label>
                                                      <select class="js-example-basic-single form-control"
                                                              name="dVi"
                                                              >

                                                            <option value="h3">H3</option>
                                                      </select>
                                                      <!-- <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required> -->
                                                </div>
                                          </div>
                                          <div class="col-md">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="loaihoivien">
                                                            Hội
                                                      </label>
                                                      <select class="js-example-basic-multiple form-control"
                                                              name="hoi"
                                                              multiple="multiple">

                                                            <option value="phuNu">Phụ nữ</option>
                                                            ...
                                                            <option value="congDoan">Công đoàn</option>

                                                      </select>
                                                </div>
                                          </div>
                                          <div class="col-md">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="name">
                                                            thời gian vào hội
                                                      </label>
                                                      <input name="tGVHoi"
                                                             type="datetime-local"
                                                             placeholder="20-12-1998"
                                                             class="form-control">
                                                </div>
                                          </div>
                                    </div>

                                    <div class="row py-4">
                                          <div class="col-md">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="name">
                                                            cấp bậc
                                                      </label>
                                                      <select class="js-example-basic-single form-control"
                                                              name="cBac"
                                                              >

                                                            <option value="trungUyQuanNhanChuyenNghiep"> 2/CN</option>
                                                      </select>
                                                      <!-- <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required> -->
                                                </div>
                                          </div>
                                          <div class="col-md">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="name">
                                                            bậc thợ
                                                      </label>
                                                      <select class="js-example-basic-single form-control"
                                                              name="bTho"
                                                              >

                                                            <option value="2"> bậc 2</option>
                                                      </select>
                                                      <!-- <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required> -->
                                                </div>
                                          </div>
                                          <div class="col-md-2 d-flex align-items-end">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="name">
                                                            Đảng viên
                                                      </label>
                                                      <input class="form-check-input"
                                                            name="dVien"
                                                             type="checkbox" 
                                                             value=""
                                                             id="flexCheckChecked"
                                                             checked>
                                                      <label class="form-check-label"
                                                             for="flexCheckChecked">

                                                      </label>
                                                      <!-- <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required> -->
                                                </div>
                                          </div>
                                          <div class="col-md">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="loaihoivien">
                                                            vị trí
                                                      </label>
                                                      <select class="js-example-basic-multiple form-control"
                                                              name="vTri"
                                                              multiple="multiple">

                                                            <option value="hoiVien">Hội viên</option>
                                                            ...
                                                            <option value="dangVien">Đảng viên</option>
                                                            <option value="hocVien">Học viên</option>

                                                      </select>
                                                </div>
                                          </div>

                                    </div>
                                    <div class="row py-4">
                                          <div class="col-md">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="name">
                                                            chức danh
                                                      </label>
                                                      <select class="js-example-basic-single form-control"
                                                              name="cDanh"
                                                              >

                                                            <option value="troLy"> Trợ lý</option>
                                                      </select>
                                                      <!-- <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required> -->
                                                </div>
                                          </div>
                                          <div class="col-md">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="name">
                                                            Lao động sáng tạo
                                                      </label>
                                                      <select class="js-example-basic-single form-control"
                                                              name="lDSTao"
                                                              >

                                                            <option value="vietBao"> Viết báo</option>
                                                      </select>
                                                      <!-- <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required> -->
                                                </div>
                                          </div>
                                          <div class="col-md">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="name">
                                                            Trình độ
                                                      </label>
                                                      <select class="js-example-basic-single form-control"
                                                              name="tDo"
                                                              >
                                                            <option></option>
                                                            <option value="daiHoc"> Đại học</option>
                                                      </select>
                                                      <!-- <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required> -->
                                                </div>
                                          </div>
                                          <div class="col-md">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="name">
                                                            Danh hiệu
                                                      </label>
                                                      <select class="js-example-basic-single form-control"
                                                              name="dHieu"
                                                              >

                                                            <option value="troGiang"> Trợ giảng</option>
                                                      </select>
                                                      <!-- <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required> -->
                                                </div>
                                          </div>
                                    </div>
                                    <div class="row py-4">
                                          <div class="col-md 2">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="name">
                                                            tình trạng hôn nhân
                                                      </label>
                                                      <select class="js-example-basic-single form-control"
                                                              
                                                              name="tTHNhan"
                                                              >
                                                            <option value="daKetHon"> Đã kết hôn</option>

                                                      </select>
                                                      <!-- <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required> -->
                                                </div>
                                          </div>
                                          <div class="col-md-8">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="name">
                                                            Nhà ở
                                                      </label>

                                                      <input type="text"
                                                            name="nhaO"
                                                             class="form-control"
                                                             id="validationDefaultUsername"
                                                             value="ngõ 31 Phương Liệt, Thanh Xuân"
                                                             
                                                             aria-describedby="inputGroupPrepend2">
                                                </div>
                                          </div>
                                          <div class="col-md-2 d-flex align-items-end">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="name">
                                                            chồng cùng đơn vị
                                                      </label>
                                                      <input class="form-check-input"
                                                             type="checkbox"
                                                             
                                                             value=""
                                                             id="flexCheckChecked"
                                                             checked
                                                             >
                                                      <label class="form-check-label"
                                                             for="flexCheckChecked">

                                                      </label>
                                                      <!-- <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required> -->
                                                </div>
                                          </div>

                                    </div>
                                    <div class="row py-4">
                                          <div class="col-md">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="name">
                                                            tiền sử bệnh án của bản thân
                                                      </label>
                                                      <textarea class="form-control"
                                                                id="w3review"
                                                                
                                                                name="tSBACBThan"
                                                                rows="4"
                                                                cols="50">
                                                                  Không có
                                    </textarea>
                                                      <!-- <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required> -->
                                                </div>
                                          </div>


                                          <div class="col-md">
                                                <div class="group">
                                                      <label class="text-uppercase pb-2"
                                                             for="name">
                                                            tiền sử bệnh án của con cái
                                                      </label>
                                                      <textarea class="form-control"
                                                                id="w3review"
                                                                name="tSBACCCai"
                                                                rows="4"
                                                                cols="50"
                                                                >
                                                                  Không có
                                    </textarea>
                                                      <!-- <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required> -->
                                                </div>
                                          </div>
                                    </div>

                                    <div class="d-flex justify-content-end">
                                          <a class="btn btn-light text-uppercase text-end px-3" style="margin-right: 20px;"
                                          href="/member"
                                          type="submit"> Quay lại</a>
                                          <!-- <a class="btn btn-primary text-uppercase text-end px-3" style="margin-right: 20px;"
                                             href="/member/edit"
                                             type="submit"> Cập nhật</a> -->
                                             <input class="btn btn-primary text-uppercase text-end px-3" style="margin-right: 20px;"
                                             href="/member/edit"
                                             type="submit" value="Cập nhật"> </input>
                                             <!-- <a class="btn btn-warning text-uppercase text-end"
                                             href="/member/edit"
                                             type="submit"> Phê duyệt</a> -->

                                    </div>
                              </form>


                  </main>
                  <!--<footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer> -->
            </div>

                 <!-- modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Đăng xuất</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
               Bạn chắc chắn muốn đăng xuất ?
                </div>
                <div class="modal-footer">
                  <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</a>
                  <a href="/dangnhap" type="button" class="btn btn-primary">Đăng xuất</a>
                </div>
              </div>
            </div>
          </div>
          <!-- end modal -->

                <!-- Modal  change password-->
        <form class="modal fade"
                action="/password"
                method="POST"
             id="changePassword"
             tabindex="-1"
             aria-labelledby="changePasswordlLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase"
                            id="changePasswordlLabel">
                            Đổi mật khẩu
                        </h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md">
                                <div class="pb-3">
                                    <label class="pb-2">Mật khẩu hiện tại</label>
                                    <div class="form-group pass_show">
                                        <input type="password"
                                            name="pass"
                                               value=""
                                               class="form-control"
                                               placeholder="faisalkhan@123" />
                                    </div>
                                </div>
                                <div class="pb-3">
                                    <label class="pb-2">Mật khẩu mới</label>
                                    <div class="form-group pass_show">
                                        <input type="password"
                                                name="passNew"
                                               class="form-control"
                                               placeholder="*******" />
                                    </div>
                                </div>
                                <div class="pb-3">
                                    <label class="pb-2">Xác nhận mật khẩu</label>
                                    <div class="form-group pass_show">
                                        <input type="password"
                                                name="passNew1"
                                               class="form-control"
                                               placeholder="*******" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button"
                           class="btn btn-secondary"
                           data-bs-dismiss="modal" value="Đóng"></input>
                        <input type="submit"
                           class="btn btn-primary" value="Xác nhận"></input>
                    </div>
                </div>
            </div>
        </form>

   <!-- end modal -->
      </div>
      <script src="https://code.jquery.com/jquery-3.6.0.js"
              integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
              crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
              crossorigin="anonymous"></script>
      <script src="js/scripts.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
              crossorigin="anonymous"></script>
      <script src="assets/demo/chart-area-demo.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
      <script src="assets/demo/chart-bar-demo.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
              crossorigin="anonymous"></script>
      <script src="js/datatables-simple-demo.js"></script>
      <script>
            $(".js-example-placeholder-single").select2({
                  placeholder: "Chọn",
                  allowClear: true,
            })

            $(document).ready(function () {
                  $('.js-example-basic-multiple').select2().prop("", true);
            });
      </script>
</body>

</html>