<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible"
            content="IE=edge" />
      <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="description"
            content="" />
      <meta name="author"
            content="" />
      <title>Thống kê </title>
      <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
            rel="stylesheet" />
      <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
            rel="stylesheet" />
      <link href="css/styles.css"
            rel="stylesheet" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
              crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
      <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3"
           href="/">HỘI VIÊN</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
                id="sidebarToggle"
                href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <!-- <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-
                    
                    
                    ="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div> -->
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   id="navbarDropdown"
                   href="#"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="navbarDropdown">
                    <!--<li><a class="dropdown-item" href="#!">Settings</a></li> -->
                    <li><a class="dropdown-item"    data-bs-toggle="modal"
                        data-bs-target="#changePassword"
                           href="#!">Đổi mật khẩu</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        href="/logout">Đăng xuất</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark"
                 id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <!-- <div class="sb-sidenav-menu-heading">Core</div> -->
                        <a class="nav-link nav-item"
                           href="/users">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            QUẢN LÝ HỘI VIÊN
                        </a>
                        <a class="nav-link "
                        href="accounts" >
                         <div class="sb-nav-link-icon"><i class="fas fa-user-alt"></i></div>
                         QUẢN LÝ TÀI KHOẢN
                     </a>
                        <a class="nav-link active"
                           href="reports">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            THÔNG KÊ
                        </a>
                                    <!-- <div class="sb-sidenav-menu-heading">Interface</div> -->
                                    <!-- <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Layouts
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="layout-static.html">Static Navigation</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a> -->
                              </div>
                        </div>
                        <div class="sb-sidenav-footer">
                              <!-- <div class="small">Logged in as:</div>
                        Start Bootstrap -->
                        </div>
                  </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                          <h3 class="mt-4 text-uppercase">Thông kê</h3>
                       
                          <div class="row">

                                <div class="col-lg-6">
                                    <div class="group">
                                            <label class="text-uppercase pb-2"
                                                   for="name">
                                              cấp hội
                                            </label>
                                            <select class="js-example-basic-single form-control" 
                                                    name="state">
                                                    <option value="AL" selected>Phụ nữ</option>
                                                    <option value="WY">Công đoàn</option>
                                            </select>
                                            <!-- <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required> -->
                                    </div>
                                    <div class=" mb-4">

                                            <div class="card-body"><canvas id="myPieChart"
                                                          width="100%"
                                                          height="50"></canvas>
                                            </div>
                                            <div class="d-flex justify-content-center"><h5>Danh hiệu</h5></div>
                                    </div>

                                    <div class=" mb-4">
                                         
                                    <div class="card-body"><canvas id="myPieChart2"
                                                    width="100%"
                                                    height="50"></canvas></div>
                                    <div class="d-flex justify-content-center"><h5>Số lượng</h5></div>

                                    </div>

                                      <div class=" mb-4">
                                         
                                            <div class="card-body"><canvas id="myPieChart4"
                                                          width="100%"
                                                          height="50"></canvas></div>
                                                          <div class="d-flex justify-content-center"><h5>Chức danh</h5></div>

                                      </div>

                                      <div class=" mb-4">
                                         
                                            <div class="card-body"><canvas id="myPieChart6"
                                                          width="100%"
                                                          height="50"></canvas></div>
                                                          <div class="d-flex justify-content-center"><h5>Đảng viên</h5></div>

                                      </div>

                                      <div class=" mb-4">
                                         
                                            <div class="card-body"><canvas id="myPieChart8"
                                                          width="100%"
                                                          height="50"></canvas></div>
                                                          <div class="d-flex justify-content-center"><h5>Giữ vị trí trong chi bộ</h5></div>

                                      </div>

                                      <div class=" mb-4">
                                         
                                            <div class="card-body"><canvas id="myPieChart10"
                                                          width="100%"
                                                          height="50"></canvas></div>
                                                          <div class="d-flex justify-content-center"><h5>Nghiên cứu khoa học</h5></div>

                                      </div>
                                </div>

                                <div class="col-lg-6 mt-40" style="margin-top: 70px">
                                    <!-- <div style="margin-top: 34px;" class="group text-end">
                                            <button class="btn btn-primary text-uppercase">Chọn thời gian</button>
                                    </div> -->
                                   
                                    <div class=" mb-4">
                                         
                                    <div class="card-body"><canvas id="myPieChart1"
                                                    width="100%"
                                                    height="50"></canvas></div>
                                    <div class="d-flex justify-content-center"><h5>Trình độ</h5></div>

                                    </div>

                                    <div class=" mb-4">
                                         
                                        <div class="card-body"><canvas id="myPieChart3"
                                                        width="100%"
                                                        height="50"></canvas></div>
                                        <div class="d-flex justify-content-center"><h5>Bậc thợ</h5></div>

                                    </div>

                                    <div class=" mb-4">
                                         
                                    <div class="card-body"><canvas id="myPieChart5"
                                                    width="100%"
                                                    height="50"></canvas></div>
                                    <div class="d-flex justify-content-center"><h5>Độ tuổi</h5></div>

                                    </div>

                                    <div class=" mb-4">
                                         
                                    <div class="card-body"><canvas id="myPieChart7"
                                                    width="100%"
                                                    height="50"></canvas></div>
                                    <div class="d-flex justify-content-center"><h5>Giữ vị trí trong Đảng ủy</h5></div>

                                    </div>

                                    <div class=" mb-4">
                                         
                                    <div class="card-body"><canvas id="myPieChart9"
                                                    width="100%"
                                                    height="50"></canvas></div>
                                    <div class="d-flex justify-content-center"><h5>Giữ vị trí trong các tổ chức đoàn thể</h5></div>

                                    </div>

                                    <div class=" mb-4">
                                         
                                    <div class="card-body"><canvas id="myPieChart11"
                                                    width="100%"
                                                    height="50"></canvas></div>
                                    <div class="d-flex justify-content-center"><h5>Chuyển chế độ chính sách</h5></div>

                                    </div>
                                </div>

                                
                          </div>

              </main>

            </div>
                 <!-- modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Đăng xuất</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
               Bạn chắc chắn muốn đăng xuất ?
                </div>
                <div class="modal-footer">
                  <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</a>
                  <a href="/login" type="button" class="btn btn-primary">Đăng xuất</a>
                </div>
              </div>
            </div>
          </div>
          <!-- end modal -->

                <!-- Modal  change password-->
        <form class="modal fade"
                action="/accounts/1/change-password"
                method="POST"
             id="changePassword"
             tabindex="-1"
             aria-labelledby="changePasswordlLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase"
                            id="changePasswordlLabel">
                            Đổi mật khẩu
                        </h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md">
                                <div class="pb-3">
                                    <label class="pb-2">Mật khẩu hiện tại</label>
                                    <div class="form-group pass_show">
                                        <input type="password"
                                            name="pass"
                                               value=""
                                               class="form-control"
                                               placeholder="faisalkhan@123" />
                                    </div>
                                </div>
                                <div class="pb-3">
                                    <label class="pb-2">Mật khẩu mới</label>
                                    <div class="form-group pass_show">
                                        <input type="password"
                                                name="passNew"
                                               class="form-control"
                                               placeholder="*******" />
                                    </div>
                                </div>
                                <div class="pb-3">
                                    <label class="pb-2">Xác nhận mật khẩu</label>
                                    <div class="form-group pass_show">
                                        <input type="password"
                                                name="passNew1"
                                               class="form-control"
                                               placeholder="*******" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button"
                           class="btn btn-secondary"
                           data-bs-dismiss="modal" value="Đóng"></input>
                        <input type="submit"
                           class="btn btn-primary" value="Xác nhận"></input>
                    </div>
                </div>
            </div>
        </form>

   <!-- end modal -->
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
              crossorigin="anonymous"></script>
      <script src="js/scripts.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
              crossorigin="anonymous"></script>
      <script src="assets/demo/chart-area-demo.js"></script>
      <script src="assets/demo/chart-bar-demo.js"></script>
      <script src="assets/demo/chart-pie-demo.js"></script>
</body>

</html>