 <!-- Button trigger modal -->

        <!-- Modal  sign out-->
        <div class="modal fade"
             id="exampleModal"
             tabindex="-1"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase"
                            id="exampleModalLabel">Đăng xuất</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">Bạn chắc chắn muốn đăng xuất ?</div>
                    <div class="modal-footer">
                        <a type="button"
                           class="btn btn-secondary"
                           data-bs-dismiss="modal">Đóng</a>
                        <a href="/logout"
                           type="button"
                           class="btn btn-primary">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- end modal -->

        <!-- Modal  change password-->
        <form class="modal fade"
                action="/password"
                method="POST"
             id="changePassword"
             tabindex="-1"
             aria-labelledby="changePasswordlLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase"
                            id="changePasswordlLabel">
                            Đổi mật khẩu
                        </h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md">
                                <div class="pb-3">
                                    <label class="pb-2">Mật khẩu hiện tại</label>
                                    <div class="form-group pass_show">
                                        <input type="password"
                                            name="pass"
                                               value=""
                                               class="form-control"
                                               placeholder="faisalkhan@123" />
                                    </div>
                                </div>
                                <div class="pb-3">
                                    <label class="pb-2">Mật khẩu mới</label>
                                    <div class="form-group pass_show">
                                        <input type="password"
                                                name="passNew"
                                               class="form-control"
                                               placeholder="*******" />
                                    </div>
                                </div>
                                <div class="pb-3">
                                    <label class="pb-2">Xác nhận mật khẩu</label>
                                    <div class="form-group pass_show">
                                        <input type="password"
                                                name="passNew1"
                                               class="form-control"
                                               placeholder="*******" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button"
                           class="btn btn-secondary"
                           data-bs-dismiss="modal" value="Đóng"></input>
                        <input type="submit"
                           class="btn btn-primary" value="Xác nhận"></input>
                    </div>
                </div>
            </div>
        </form>

        <!-- end modal -->